<div class="row">
<!-- Left Space for search--> 	
	<div class="col-md-2">{{displayAction}} </div>
	
<!-- Search Part--> 		
	<div class="well col-md-8" >
			<div class="row" ng-show="recordSaved"> 
				<div class="alert alert-success col-md-3 pull-right  alert-dismissible fade in">
					<strong>Record Saved!</strong>
				</div>
			</div>
			
			<form>
				<div class="row form-group">
					<div class="pull-right">
							    	<a href = "#/">&larr; Back</a> 
 									 <button class="btn btn-primary btn-sm" ng-click="clear()">Clear</button> 
									 <button class="btn btn-primary btn-sm" ng-click="save()">Save</button>
							</div>
				</div>
				
					
				<div class="row" >
					<div class="col-md-6 form-group">
						<label class="col-md-4 control-label"> Project Name:</label>
						<div class="col-md-8">
							<input type="text" ng-model="pname" class="form-control input-sm"/>
						</div>
					</div>
					
					<div class="col-md-6 form-group">
						<label class="col-md-4 control-label"> Owner:</label>
						<div class="col-md-8">
							<input type="select" ng-model="powner" class="form-control input-sm"/>	
						</div>
					</div>
				</div>
				
					
				<div class="row" >
					<div class="col-md-12 form-group">
						<label class="col-md-2 control-label"> Description:</label>
						<div class="col-md-10">
							<textarea ng-model="description" class="form-control input-sm"></textarea>
						</div>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-md-12 form-group">
						<label class="col-md-2 control-label"> Comments:</label>
						<div class="col-md-10">
							<textarea ng-model="comment" class="form-control input-sm"></textarea>	
						</div>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-6 form-group">
						<label class="col-md-4 control-label"> Start Date:</label>
						<div class="col-md-8">
							<input type="text" class="form-control input-sm"/>
						</div>	
					</div>
					
					<div class="col-md-6">
						<label class="col-md-4 control-label"> Establishment:</label>
						<div class="col-md-8">
							<input type="text" class="form-control input-sm"/>
						</div>
					</div>
				</div>
				<div class="row">	
					  <div class="pull-right col-md-10">
				        <input type="radio"> On or Before
						<input type="radio"> On
						<input type="radio"> On or After
						<input type="checkbox"/> Open Only
					</div>
			 
				</div>
			</form>
	</div>
	
	


<!-- Right Space for search--> 	
	<div class="col-md-2"> </div>

 </div>
	
	
	
	

	
<div class="row" ng-show="displayGrid">
<!-- Left Space for search--> 	
	<div class="col-md-1">{{displayAction}} </div>
	
<!-- Panel--> 		
	<div class="col-md-10" >
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Mile Stones  <i ng-click="popup()" class="fa fa-external-link fa-2"></i></h3>
				
			</div>
			
			<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th rowspan=2>Milestone Name</th>
								<th></th>
								<th colspan=2>Model Work Flows</th>
								<th colspan=2>Rate Schedule Work Flows</th>
								<th colspan=3>Rate Schedule Work Flows</th>
							</tr>
							<tr>
								<th>#</th>
								<th>Open</th>
								<th>Closed</th>
								<th>Open</th>
								<th>Closed</th>
								<th>Duration</th>
								<th>Due Date</th>
								<th>Completed Date</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="item in mileStoreResults">
								<td><a href="#/edit?id={{item.id}}">{{item.name}}</a></td>
								<td>{{item.no}}</td>								
								<td>{{item.modelOpen}}</td>
								<td>{{item.modelClosed}}</td>
								<td>{{item.rsOpen}}</td>
								<td>{{item.rsClosed}}</td>
								<td>{{item.duration}}</td>
								<td>{{item.dueDate}}</td>
								<td>{{item.completedDate}}</td>
							</tr>
						</tbody>	
					</table>
			</div>
		</div>
	</div>
</div>


<div class="row" ng-show="displayGrid">
<!-- Left Space for search--> 	
	<div class="col-md-1">{{displayAction}} </div>
	
<!-- Panel--> 		
	<div class="col-md-10" >
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Workflows <i ng-click="popup()" class="fa fa-external-link fa-2"></i></h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
						<thead>
							<tr>
								<th rowspan=2>Workflow Name </th>
								<th colspan=3></th>
								<th colspan=2>Model Tasks</th>
								<th colspan=2>Rate Schedule Tasks</th>
								<th colspan=3></th>
							</tr>

							<tr>
								<th>#</th>
								<th>Milestone Name</th>
								<th>Tasks</th>
								<th>Open</th>
								<th>Closed</th>
								<th>Open</th>
								<th>Closed</th>
								<th>Duration</th>
								<th>Due Date</th>
								<th>Completed Date</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="item in workStoreResults">
								<td><a href="#/edit?id={{item.id}}">{{item.name}}</a></td>
								<td>{{item.no}}</td>			
								<td>{{item.mileStoneName}}</td>			
								<td>{{item.tasks}}</td>								
								<td>{{item.modelOpen}}</td>
								<td>{{item.modelClosed}}</td>
								<td>{{item.rsOpen}}</td>
								<td>{{item.rsClosed}}</td>
								<td>{{item.duration}}</td>
								<td>{{item.dueDate}}</td>
								<td>{{item.completedDate}}</td>
							</tr>
						</tbody>	
					</table>
			</div>
		</div>
	</div>
</div>


<div class="row" ng-show="displayGrid">
<!-- Left Space for search--> 	
	<div class="col-md-1">{{displayAction}} </div>
	
<!-- Panel--> 		
	<div class="col-md-10" >
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Rate Schedule Models <i ng-click="popup()" class="fa fa-external-link fa-2"></i></h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
</div>
 
 
	
	
	</div>  <!-- Container Div -->	
 
